<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="p-4 bg-gray-800 text-gray-100">
        <div class="flex justify-between h-16">
            <div class="flex">
            <a rel="noopener noreferrer" href="/" aria-label="Back to homepage" class="flex items-center p-2 text-3xl text-yellow-400">
                Sticky Notes
            </a>
        </div>
            <ul class="items-stretch hidden space-x-3 md:flex">
                <li class="flex">
                    <a rel="noopener noreferrer" href="/logout" class="flex items-center px-4 mb-1 border-b-2 hover:text-gray-400 hover:border-gray-400 ">Logout</a>
                </li>

            </ul>
        </div>
    </header>
    
    <div class="mt-8">
        <h1 class="text-yellow-400 text-center text-5xl">Notes</h1>
      </div>
    <section class="flex flex-wrap ml-8 gap-x-8">  
        <% if(todos.length === 0) { %>
            <p class = "text-3xl"> No notes have been added. </p>
       <% } %> 
    <% todos.forEach( el => { %>
            <section class='inline-block min-h-52 w-52 space-y-6 font-Qwitcher text-center text-2xl todoItem p-8 pt-0 my-8 bg-yellow-200' data-id='<%=el._id%>'>
                <div class="font-bold text-6xl text-center text-black">.</div>
                <span class='hover:cursor-pointer <%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del text-red-500 hover:cursor-pointer hover:text-red-700'> Delete </span>
            </section>
    <% }) %>
</section>    
<section>
    <h2 class="text-3xl ml-8 my-4"><%= user.displayName %> has <span class="font-bold text-red-600"><%= left %></span>  things left to do.</h2>
</section>

<section class="p-6 text-gray-100">
	<form novalidate="" action="/todos/createTodo" method="POST" class="container w-full max-w-xl p-8 space-y-6 rounded-md shadow bg-yellow-200 ng-untouched ng-pristine ng-valid">
		<h2 class="w-full text-3xl text-gray-800 font-bold leading-tight">Would you like to add a note?</h2>

			<textarea  type="text" name="todoItem" placeholder="Enter a new note" class="block w-full p-2 rounded autoexpand focus:outline-none focus:ring focus:ring-opacity-25 focus:ring-green-400 bg-gray-800"></textarea>
		</div>
		<div>
			<button type="submit" class="w-full px-4 py-2 font-bold rounded shadow focus:outline-none focus:ring hover:ring focus:ring-opacity-50 bg-green-400 focus:ring-green-400 hover:ring-green-400 text-gray-800">Add a note</button>
		</div>
	</form>
    <div>
        <button class="md:hidden lg:hidden xl:hidden 2xl:hidden sm:mt-8 sm:p-6 sm:w-5/6 sm:rounded sm:bg-gray-800 sm:text-gray-100 sm:hover:bg-red-600"><a href="/logout">Sign Out</a></button>    
    </div>
</section>

    <script src="js/main.js"></script>
</body>
</html>